* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Lato, sans-serif;
  margin-top: 40px;

}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

h1 {
  font-family: Roboto, sans-serif;
}

.logo-container {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-list {
  width: 600px;
  min-height: 500px;
  background-color: rgb(47, 47, 47);
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}